project = "mindphaser34-infra"

public_key_path = "~/.ssh/appuser.pub"

private_key_path = "~/.ssh/appuser"

zone = "europe-west1-b"

disk_image = "reddit-base"

public_key_path_appuser_web = "~/.ssh/appuser_web.pub"
